#root {
  position:relative;
  width: 100svw;
  height: 100svh;
  transform: translateY(-1svh);
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.title {
  margin-top: 6svh;
  margin-bottom: 1rem
}





